<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".AccountingApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/auto_bookkeeping_xposed_description"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Accounting">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auto.AutoBookkeepingSheetActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/Theme.Accounting.Translucent"
            android:windowSoftInputMode="adjustResize" />
        <service
            android:name=".auto.AutoBookkeepingAccessibilityService"
            android:exported="false"
            android:label="@string/auto_bookkeeping_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/auto_bookkeeping_accessibility_service" />
        </service>
        <service
            android:name=".auto.AutoBookkeepingNotificationListenerService"
            android:exported="false"
            android:label="@string/auto_bookkeeping_notification_listener_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".auto.HookCaptureService"
            android:exported="true"
            android:stopWithTask="false" />
        <receiver
            android:name=".auto.AutoBookkeepingActionReceiver"
            android:exported="false" />
    </application>
</manifest>
